@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    html {
        @apply font-mono scroll-smooth
    }
    body {
        @apply bg-black/90 text-white
    }
}

::-webkit-scrollbar {
    width: 15px;
    background: gray;
}
/* Track */
::-webkit-scrollbar-thumb {
    border-inline: 1px solid gray;
    background: rgb(38 38 38);
}